@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
}

/*  Dark / Light mode styles */
body {
	@apply bg-white text-black;
}

.dark body {
	@apply bg-black text-white;
}

/* Loading Spinner BIGGER */
.container {
	--uib-size: 70px;
	--uib-color: black;
	--uib-speed: 1.25s;
	--uib-cube-size: calc(var(--uib-size) * 0.2);
	--uib-arc-1: -90deg;
	--uib-arc-2: 90deg;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: var(--uib-size);
	height: calc(100% - var(--uib-cube-size) / 2);
	padding-bottom: calc(var(--uib-cube-size) / 2);
}

.cube {
	--cube-container-height: calc(var(--uib-size) * 0.8);
	display: flex;
	align-items: center;
	width: var(--uib-cube-size);
	height: var(--cube-container-height);
	transform-origin: center bottom;
	transform: rotate(var(var(--uib-arc-1)));
	animation: metronome var(--uib-speed) linear infinite;

	&::after {
		content: "";
		display: block;
		width: var(--uib-cube-size);
		height: var(--uib-cube-size);
		background-color: var(--uib-color);
		border-radius: 25%;
		animation: morph var(--uib-speed) linear infinite;
		transform-origin: center left;
		transition: background-color 0.3s ease;
	}
}

@keyframes metronome {
	0% {
		transform: rotate(var(--uib-arc-1));
	}

	50% {
		transform: rotate(var(--uib-arc-2));
	}

	50.001% {
		transform: translateX(var(--cube-container-height)) rotate(var(--uib-arc-1));
	}

	100% {
		transform: rotate(var(--uib-arc-1));
	}
}

@keyframes morph {
	0% {
		transform: scaleX(0.65) scaleY(1.3);
	}

	15% {
		transform: scaleX(1.5);
	}

	30%,
	50.001% {
		transform: scaleX(1);
	}

	55% {
		transform: scaleX(0.8) scaleY(1.2);
		animation-timing-function: ease-in;
	}

	65%,
	80% {
		transform: scaleX(1);
	}

	90%,
	100% {
		transform: scaleX(0.65) scaleY(1.3);
	}
}
